<nav>
    <h1><a href="/">Find My Dream Home</a></h1>
    <div id="links">
        <div class="link"><a href="{{ path('houses') }}">Maisons</a></div>
        <div class="link"><a href="{{ path('apartments') }}">Appartements</a></div>

        <div class="link"><a href="{{ path('login') }}">Login</a></div>
        
        <!-- <div class="link"><a href="add.php">Add</a></div>
        <div class="link"><a href="favoris.php">Mes Favoris</a></div>
        <div id="logout"><a href="logout.php">Logout</a></div> -->
    </div>
</nav>
