<nav>
    <h1><a href="/">Find My Dream Home</a></h1>
    <div id="links">
        <div class="link"><a href="{{ path('houses') }}">Maisons</a></div>
        <div class="link"><a href="{{ path('apartments') }}">Appartements</a></div>

        
        <div class="link"><a href="{{ path('listing_new') }}">Add</a></div>
        <div class="link"><a href="">Login</a></div>
        {# <div class="link"><a href="{{ path('favorites') }}">Mes Favoris</a></div> #}
        <div id="logout"><a href="">Logout</a></div>
    </div>
</nav>
