<table>
	<tbody>
		{% for type in types %}
			<tr>
				<td>{{ type.name }}</td>
				<td>
					<a href="{{ path(edit_route, {'id': type.id })}}" class="link">
						Modifier
					</a>
				</td>
				<td>
					{# Formulaire pour supprimer le type de propriété #}
					<form action="{{ path(delete_route, {'id': type.id })}}" method="post" >
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type.id) }}">
						<button class="link" type="submit">Supprimer</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
