{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/table.css') }}">
{% endblock %}
{% block title %}Liste Proprieté
{% endblock %}

{% block content %}
	<main>
		<div classe="page">
			<section>
				<h2>
					Les types de Proprieté:
				</h2>
				<div classe="container"id="table-container">

					{% include
                '_partials/_table.html.twig' %}
				</div>
				<a href="{{ path('property_type_new') }}" class="link">Ajouter un nouveau type</a>
			</section>
		</main>
	{% endblock %}

