<nav>
    <h1><a href="index.php">Find My Dream Home</a></h1>
    <div id="links">
        <div class="link"><a href="housePage.php">House</a></div>
        <div class="link"><a href="apartmentPage.php">Appartement</a></div>

        <div class="link"><a href="login.php">Login</a></div>
        
        <!-- <div class="link"><a href="add.php">Add</a></div>
        <div class="link"><a href="favoris.php">Mes Favoris</a></div>
        <div id="logout"><a href="logout.php">Logout</a></div> -->
    </div>
</nav>
