/* Centrer le tableau */
#table-container {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#table-container table {
    width: 60%;
    border-collapse: collapse;
   
    background-color: var(--scnd-bg);
        border-radius: 10px;
    
  
}



/* Ligne en flex pour gérer l'alignement */
#table-container tr {
    display: flex;
    justify-content: space-between; /* espace entre le nom et les boutons */
    align-items: center;

    margin: var(--padding);

}

#table-container td:first-child {
    text-align: left;
    width: 70%; 
}
#table-container td:last-child {
    text-align: right;
}

