{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('styles/table.css') }}">
{% endblock %}
{% block title %}Liste Transaction
{% endblock %}

{% block content %}
	<main>
		<div id="-page">
			<section>
				<h2>
					Les types de Transaction:
				</h2>
				<div id="table-container">
					{% include
                '_partials/_table.html.twig' %}
				</div>
				<a href="{{ path('transaction_type_new') }}" class="link">Ajouter un nouveau type</a>
			</section>
		</main>
	{% endblock %}
