{% extends 'base.html.twig' %}
{% block title %}
	edit
{% endblock %}
{% block
content %}
	<main>
		<div class="add-page" id="add-page">
			<div class="add-container" id="add-container">
				<h2>
					Mettre à jour
				</h2>
				{% include '_partials/_listing_form.html.twig' %}
			</div>
		</div>
	</main>
{% endblock %}
