{% extends 'base.html.twig' %}
{% block title %}
    New
{% endblock %}
{% block
content %}
    <main>
        <div class="add-page" id="add-page">
            <div class="add-container" id="add-container">
                <h2>
                    Nouvelle Annonce
                </h2>
                {% include '_partials/_listing_form.html.twig' %}
            </div>
        </div>
    </main>
{% endblock %}
