{% extends 'base.html.twig' %}
{% block title %}
    edit
{% endblock %}
{% block
content %}
    <main>
        <div id="articles-page">
            <section>
                <h2>
                    Annonces n° {{product.id }}
                </h2>
                <div id="house-container">
                    {% include
                '_partials/_card.html.twig' %}
                </div>
            </section>
        </main>
    {% endblock %}
    