{% extends 'base.html.twig' %}
{% block title %}
    edit
{% endblock %}
{% block
content %}
    <main>
        <h1>
            annonces numero{'id': product.id }
            <h1>
                {% include '_partials/_card.html.twig' %}
            </main>
        {% endblock %}
        